body.active_admin .index_content .ui-sortable > * {
  cursor: move; }
body.active_admin .disclose {
  cursor: pointer;
  width: 10px;
  display: none; }
body.active_admin .index_as_sortable .resource_selection_toggle_panel {
  padding-left: 12px; }
body.active_admin .index_as_sortable > ol {
  margin: 16px 0; }
body.active_admin .index_as_sortable ol li {
  cursor: default !important; }
  body.active_admin .index_as_sortable ol li.placeholder {
    background: white;
    border: 1px dashed #d9e4ec;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body.active_admin .index_as_sortable ol li.placeholder.cantdoit {
      border: 1px dashed #ff5757; }
  body.active_admin .index_as_sortable ol li .item {
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    *zoom: 1; }
    body.active_admin .index_as_sortable ol li .item:before, body.active_admin .index_as_sortable ol li .item:after {
      content: " ";
      display: table; }
    body.active_admin .index_as_sortable ol li .item:after {
      clear: both; }
    body.active_admin .index_as_sortable ol li .item.even {
      background: white; }
    body.active_admin .index_as_sortable ol li .item.odd {
      background: #f4f5f5; }
    body.active_admin .index_as_sortable ol li .item:hover {
      background-color: #d9e4ec;
      cursor: move; }
    body.active_admin .index_as_sortable ol li .item .cell {
      margin: 0;
      padding: 10px 12px 8px 12px; }
    body.active_admin .index_as_sortable ol li .item h3.cell {
      font-size: 16px;
      line-height: 14px;
      color: black; }
body.active_admin .index_as_sortable ol > li > ol {
  margin-left: 30px; }
body.active_admin .index_as_sortable ol li.mjs-nestedSortable-collapsed > ol {
  display: none; }
body.active_admin .index_as_sortable ol li.mjs-nestedSortable-branch > div > .disclose {
  display: block;
  float: left;
  padding: 10px 5px 8px 5px; }
body.active_admin .index_as_sortable ol li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
  content: "+ "; }
body.active_admin .index_as_sortable ol li.mjs-nestedSortable-expanded > div > .disclose > span:before {
  content: "- "; }
