<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Beste <%= @invoice.user.name %>,
    </p>
    <p>In bijlage vindt u uw commissiefactuur.</p>
    <p>
      Met vriendelijke groeten,<br />
      Agriteca BV
    </p>
  </body>
</html>