<% provide :title, t("shopping_cart") %>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <div class="block">
        <h3 class="title"><%= t("categories") %></h3>
        <ul class="menu">
          <%= product_menu(@category) %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <h1 class="title"><%= t("shopping_cart") %></h1>
    <div id="cart">
      <% if @cart.empty? %>
        <p><%= t("empty_shopping_cart") %></p>
      <% else %>
        <table id="cart-items" class="table">
          <thead>
            <tr>
              <th><%= t("item") %></th>
              <th><%= t("price") %></th>
              <th><%= t("quantity") %></th>
              <th><%= t("subtotal") %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @cart.shopping_cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= cart_item.item.product.title %><br />
                  <small><%= cart_item.item.variations.map { |v| "#{v.option}: #{v.variation}"}.join(", ") %></small>
                </td>
                <td><%= number_to_currency cart_item.price, unit: "€" %></td>
                <td>
                  <%= text_field_tag :quantity, cart_item.quantity, data: {cart_item: cart_item.id}, class: "cart-item-quantity text-center" %>
                </td>
                <td><%= number_to_currency cart_item.subtotal, unit: "€" %></td>
                <td><%= link_to t("remove"), remove_from_cart_path(cart_item.id), method: :post %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="active">
              <td colspan="3"></td>
              <td><%= t("subtotal") %></td>
              <td><%= number_to_currency @cart.total, unit: "€" %></td>
            </tr>
          </tfoot>
        </table>
        <div class="cart-actions text-right">
          <%= link_to t("continue_shopping"), products_path, class: "btn btn-default" %>
          <%= link_to t("checkout"), checkout_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>