<div id="pdf">
  <div class="row">
    <div class="brand col-xs-12">
      <div class="logo">
        <%= wicked_pdf_image_tag("logo.png") %>
      </div>
      <div class="company-info">
        <strong>Agriteca BV</strong><br />
        Kerkhofstraat 21<br />
        NL - 5554 HG Valkenswaard
      </div>
    </div>
  </div>

  <div class="row">
    <div class="delivery-info col-xs-6">
      <%= invoice.user.name %><br />
      <%= invoice.user.profile.address1 %><br />
      <% if invoice.user.profile.address2? %>
        <%= invoice.user.profile.address2 %><br />
      <% end %>
      <%= invoice.user.profile.postal_code %>, <%= invoice.user.profile.city %><br />
      <%= invoice.user.profile.country(:name) %><br />
      <% if invoice.user.profile.company_number? %>
        <%= invoice.user.profile.company_number %>
      <% end %>
    </div>
    <div class="contact-info col-xs-6">
      <ul>
        <li class="phone">0031-40/20 89 911</li>
        <li class="phone">0032-468/15 08 44</li>
        <li class="email"><a href="mailto:info@agriteca.com">info@agriteca.com</a></li>
        <li class="website"><a href="http://www.agriteca.com">www.agriteca.com</a></li>
        <li class="facebook"><a href="http://www.facebook.com/agriteca">facebook.com/agriteca</a></li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><strong><%= t('commission_invoice') %></strong></td>
          <td><strong><%= invoice.code %></strong></td>
        </tr>
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><%= t('invoice_date') %></td>
          <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td><%= t('event_code') %></td>
          <td><%= invoice.event.code %></td>
        </tr>
        <tr>
          <td><%= t('your_hoster') %></td>
          <td><%= invoice.event.hoster_name %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="order-items col-xs-12">
      <table class="table table-bordered">
        <tr>
          <th><%= t('invoice') %></th>
          <th><%= t('client') %></th>
          <th><%= t('order_total') %></th>
          <th><%= t('commission_percentage') %></th>
          <th><%= t('commission') %></th>
        </tr>
        <% invoice.event.orders.paid.where(created_at: (invoice.event.date..invoice.event.end_date)).each do |order| %>
          <tr>
            <td>
              <%= order.invoice.code %>
            </td>
            <td>
              <%= order.full_name %>
            </td>
            <td class="cell-currency">
              <%= number_to_currency order.total_with_vat,  unit: "€" %>
            </td>
            <td  class="cell-number">
              20%
            </td>
            <td class="cell-currency">
              <%= number_to_currency order.total_with_vat * 0.2,  unit: "€" %>
            </td>
          </tr>
        <% end %>
        <tr> </tr>
        <tr>
          <td colspan="4" class="cell-label"><%= t('total_commission') %></td>
          <td class="cell-currency"><%= number_to_currency invoice.total,  unit: "€" %></td>
        </tr>
      </table>
    </div>
  </div>

</div>
