<div id="pdf">
  <div class="row">
    <div class="brand col-xs-12">
      <div class="logo">
        <%= wicked_pdf_image_tag("logo.png") %>
      </div>
      <div class="company-info">
        <strong>Agriteca BV</strong><br />
        Kerkhofstraat 21<br />
        NL - 5554 HG Valkenswaard
      </div>
    </div>
  </div>

  <div class="row">
    <div class="delivery-info col-xs-6">
      <%= invoice.user.name %><br />
      <%= invoice.user.profile.address1 %><br />
      <% if invoice.user.profile.address2? %>
        <%= invoice.user.profile.address2 %><br />
      <% end %>
      <%= invoice.user.profile.postal_code %>, <%= invoice.user.profile.city %><br />
      <%= invoice.user.profile.country(:name) %><br />
      <% if invoice.user.profile.company_number? %>
        <%= invoice.user.profile.company_number %>
      <% end %>
    </div>
    <div class="contact-info col-xs-6">
      <ul>
        <li class="phone">0031-40/20 89 911</li>
        <li class="phone">0032-468/15 08 44</li>
        <li class="email"><a href="mailto:info@agriteca.com">info@agriteca.com</a></li>
        <li class="website"><a href="http://www.agriteca.com">www.agriteca.com</a></li>
        <li class="facebook"><a href="http://www.facebook.com/agriteca">facebook.com/agriteca</a></li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><strong><%= t('commission_invoice') %></strong></td>
          <td><strong><%= invoice.code %></strong></td>
        </tr>
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><%= t('invoice_date') %></td>
          <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= t('date.month_names')[invoice.month] %> <%= invoice.year %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="order-items col-xs-12">
      <table class="table table-bordered">
        <tr><th colspan="5"><%= t('back_order_commission') %></th></tr>
        <tr>
          <th><%= t('invoice') %></th>
          <th><%= t('description') %></th>
          <th><%= t('order_total') %></th>
          <th><%= t('commission_percentage') %></th>
          <th><%= t('commission') %></th>
        </tr>
        <%
          date = DateTime.new(invoice.year, invoice.month)
          # find all orders with event code that belongs to event of this consultant
          all_orders = Order.paid.includes(:event).where created_at: (date.beginning_of_month..date.end_of_month), events: {user_id: invoice.user.id}
          # if order is placed before end date of event -> regular order, else -> backorder
          event_orders, back_orders = all_orders.partition { |o| o.created_at < o.event.end_date }
          back_order_total = back_orders.inject(0) { |sum, o| sum + o.total_with_vat }
          back_order_commission_percentage = back_order_total > 2000 ? 0.2 : 0.1

          children = {}
          grandchildren = {}

          invoice.user.children.each do |child|
            # for each child, find all event orders for this month
            child_orders = Order.paid.includes(:event).where created_at: (date.beginning_of_month..date.end_of_month), events: {user_id: child.id}
            child_event_orders, child_back_orders = child_orders.partition { |o| o.created_at < o.event.end_date }
            child_event_order_total = child_event_orders.inject(0) { |sum, o| sum + o.total_with_vat }

            children[child] = child_event_order_total

            # find grandchildren
            child.children.each do |grandchild|
              grandchild_orders = Order.paid.includes(:event).where created_at: (date.beginning_of_month..date.end_of_month), events: {user_id: grandchild.id}
              grandchild_event_orders, grandchild_back_orders = grandchild_orders.partition { |o| o.created_at < o.event.end_date }
              grandchild_event_order_total = grandchild_event_orders.inject(0) { |sum, o| sum + o.total_with_vat }

              grandchildren[grandchild] = grandchild_event_order_total
            end
          end

          commission = invoice.user.calculate_commission(invoice.month, invoice.year)
        %>
        <% back_orders.each do |order| %>
          <tr>
            <td>
              <%= order.invoice.code %>
            </td>
            <td>
              <%= order.full_name %>
            </td>
            <td class="cell-currency">
              <%= number_to_currency order.total_with_vat,  unit: "€" %>
            </td>
            <td class="cell-number">
              <%= number_to_percentage back_order_commission_percentage * 100, precision: 0 %>
            </td>
            <td class="cell-currency">
              <%= number_to_currency order.total_with_vat * back_order_commission_percentage,  unit: "€" %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4" class="cell-label"><%= t('subtotal') %></td>
          <td class="cell-currency"><%= number_to_currency commission[:back_order_commission],  unit: "€" %></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><th colspan="5"><%= t('referral_commission') %></th></tr>
        <tr>
          <th colspan="2"><%= t('consultant') %></th>
          <th><%= t('total_sales') %></th>
          <th><%= t('commission_percentage') %></th>
          <th><%= t('commission') %></th>
        </tr>
        <% children.each do |child, total| %>
          <tr>
            <td colspan="2"><%= child.name %></td>
            <td class="cell-currency"><%= number_to_currency total,  unit: "€" %></td>
            <td class="cell-number">5%</td>
            <td class="cell-currency"><%= number_to_currency total * 0.05,  unit: "€" %></td>
          </tr>
        <% end %>
        <% grandchildren.each do |grandchild, total| %>
          <tr>
            <td colspan="2"><%= grandchild.name %></td>
            <td class="cell-currency"><%= number_to_currency total,  unit: "€" %></td>
            <td class="cell-number">2%</td>
            <td class="cell-currency"><%= number_to_currency total * 0.02,  unit: "€" %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4" class="cell-label"><%= t('subtotal') %></td>
          <td class="cell-currency"><%= number_to_currency commission[:referral_commission],  unit: "€" %></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><th colspan="5"><%= t('bonus') %></th></tr>
        <tr>
          <td colspan="4" class="cell-label"><%= t('group_bonus') %></td>
          <td class="cell-currency"><%= number_to_currency commission[:group_bonus],  unit: "€" %></td>
        </tr>
        <tr>
          <td colspan="4" class="cell-label"><%= t('monthly_bonus') %></td>
          <td class="cell-currency"><%= number_to_currency commission[:monthly_bonus],  unit: "€" %></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr>
          <td colspan="4" class="cell-label"><%= t('total_commission') %></td>
          <td class="cell-currency"><%= number_to_currency invoice.total,  unit: "€" %></td>
        </tr>
        <tr></tr>
      </table>
    </div>
  </div>

</div>
