<% provide :title, t('sign_up') %>

<!-- <div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3"> -->
    <h2 class="title"><%= t('sign_up') %></h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.simple_fields_for :profile do |fp| %>
          <div class="form-group row">
            <div class="col-xs-12 col-sm-4">
              <%= fp.input :first_name, :required => true %>
            </div>
            <div class="col-xs-12 col-sm-8">
              <%= fp.input :last_name, :required => true %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= f.input :email, :required => true, :autofocus => true %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= fp.input :company_number %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-xs-12">
              <%= f.input :password, :required => true %>
            </div>
            <div class="col-sm-6 col-xs-12">
              <%= f.input :password_confirmation, :required => true %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= fp.input :address1, label: t('address') %>
              <%= fp.input :address2, label: false %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= fp.input :country, collection: Country.to_select %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-9">
              <%= fp.input :city %>
            </div>
            <div class="col-xs-3">
              <%= fp.input :postal_code %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= fp.input :phone_number %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('sign_up'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
<!--   </div>
</div> -->
