<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user</h1>
    <p>A new user account has been created</p>
    <ul>
      <li>First name: <%= @user.profile.first_name %></li>
      <li>Last name: <%= @user.profile.last_name %></li>
      <li>Email address: <%= @user.email %></li>
    </ul>
    <p>See this user in the backend: <%= link_to admin_consultant_url(@user.id), admin_consultant_url(@user.id) %></p>
  </body>
</html>