New user
===============================================

A new user account has been created

* First name: <%= @user.profile.first_name %>
* Last name: <%= @user.profile.last_name %>
* Email address: <%= @user.email %>

See this user in the backend: <%= admin_consultant_url(@user.id) %>