<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello <%= @user.profile.first_name%>,
    </p>
    <p>
      Your account has just been approved by Agriteca!
    </p>
    <p>
      You can now log in using the following link: <%= link_to new_user_session_url, new_user_session_url %>
    </p>
    <p>
      Best regards,</br>
      The Agriteca team
    </p>
  </body>
</html>