<div id="pdf-footer">
  <div class="row">
    <div class="col-xs-5 left">
      Agriteca BV<br />
      Kerkhofstraat 21<br />
      NL – 5554 HG Valkenswaard<br />
      <a href="mailto:info@agriteca.com">info@agriteca.com</a><br />
      <a href="http://www.agriteca.com">www.agriteca.com</a>
    </div>
    <div class="col-xs-2 center">
      <br />
      <%= wicked_pdf_image_tag('logo-small.png') %>
    </div>
    <div class="col-xs-5 right">
      Bankrekeningnr: 735-0350356-77<br />
      SWIFT/BIC: KREBBEBB<br />
      IBAN: BE80 7350 3503 5677<br />
      BTW: NL 853 714 149 B01<br />
      KvK: 59968583
    </div>
  </div>
</div>