<div id="pdf">
  <div class="row">
    <div class="brand col-xs-12">
      <div class="logo">
        <%= wicked_pdf_image_tag("logo.png") %>
      </div>
      <div class="company-info">
        <strong>Agriteca BV</strong><br />
        Kerkhofstraat 21<br />
        NL - 5554 HG Valkenswaard
      </div>
    </div>
  </div>

  <div class="row">
    <div class="delivery-info col-xs-6">
      <strong><%= t('delivery_address') %></strong><br />
      <%= invoice.order.delivery_name %><br />
      <%= invoice.order.delivery_address1 %><br />
      <% if invoice.order.delivery_address2? %>
        <%= invoice.order.delivery_address2 %><br />
      <% end %>
      <%= invoice.order.delivery_postal_code %>, <%= invoice.order.delivery_city %><br />
      <%= invoice.order.delivery_country(:name) %>
    </div>
    <div class="contact-info col-xs-6">
      <ul>
        <li class="phone">0031-40/20 89 911</li>
        <li class="phone">0032-468/15 08 44</li>
        <li class="email"><a href="mailto:info@agriteca.com">info@agriteca.com</a></li>
        <li class="website"><a href="http://www.agriteca.com">www.agriteca.com</a></li>
        <li class="facebook"><a href="http://www.facebook.com/agriteca">facebook.com/agriteca</a></li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><strong><%= t('sales_invoice') %></strong></td>
          <td><strong><%= invoice.code %></strong></td>
        </tr>
        <tr>
          <td colspan="2">
            <strong><%= t('ordered_by') %></strong>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= invoice.order.full_name %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= invoice.order.full_address %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= invoice.order.phone_number %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= invoice.order.vat_number %>
          </td>
        </tr>
      </table>
    </div>
    <div class="client-info col-xs-6">
      <table class="table table-bordered">
        <tr>
          <td><%= t('order_date') %></td>
          <td><%= invoice.order.created_at.strftime("%d/%m/%Y") %></td>
        </tr>
        <tr>
          <td><%= t('payment_method') %></td>
          <td><%= wicked_pdf_image_tag("payment/#{invoice.order.payment_method}.gif") %></td>
        </tr>
        <tr>
          <td><%= t('your_consultant') %></td>
          <td><%= invoice.order.event.user.profile.name if invoice.order.event %></td>
        </tr>
        <tr>
          <td><%= t('event_code') %></td>
          <td><%= invoice.order.event.code if invoice.order.event %></td>
        </tr>
        <tr>
          <td><%= t('your_hoster') %></td>
          <td><%= invoice.order.event.hoster_name if invoice.order.event %></td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="order-items col-xs-12">
      <table class="table table-bordered">
        <tr>
          <th><%= t('quantity') %></th>
          <th><%= t('product_code') %></th>
          <th><%= t('product_description') %></th>
          <th><%= t('weight') %></th>
          <th><%= t('price_per_item') %></th>
          <th><%= t('total') %></th>
        </tr>
        <% invoice.order.line_items.each do |item| %>
          <%
            item_variations = item.variations.map { |v| "#{v.option}: #{v.variation}"}.join(", ")
            item_description = "#{item.product.title} <br /> #{content_tag :small, item_variations}"
          %>
          <tr>
            <td class="cell-number"><%= item.quantity %></td>
            <td> <%= item.product.code %> </td>
            <td><%= item_description.html_safe %></td>
            <td class="cell-weight"><%= item.product.weight.to_s + 'gr' %></td>
            <td class="cell-currency"><%= number_to_currency item.price,  unit: "€" %></td>
            <td class="cell-currency"><%= number_to_currency (item.price * item.quantity),  unit: "€" %></td>
          </tr>
        <% end %>
        <tr> </tr>
        <tr>
          <td colspan="3" class="cell-label"><%= t('total_weight') %></td>
          <td class="cell-weight"><%= invoice.order.weight.to_s + 'gr' %></td>
          <td class="cell-label"><%= t('subtotal') %></td>
          <td class="cell-currency"><%= number_to_currency invoice.order.subtotal,  unit: "€" %></td>
        </tr>
        <% if invoice.order.vat_payable? %>
          <tr>
            <td colspan="5" class="cell-label"><%= t('vat_incl', percentage: number_to_percentage(invoice.order.vat_percentage * 100, precision: 0)) %></td>
            <td class="cell-currency"><%= number_to_currency invoice.order.vat,  unit: "€" %></td>
          </tr>
        <% else %>
          <tr>
            <td colspan="5" class="cell-label"><%= t('vat_free', percentage: number_to_percentage(invoice.order.vat_percentage * 100, precision: 0)) %></td>
            <td class="cell-currency"><%= number_to_currency -invoice.order.vat,  unit: "€" %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="5" class="cell-label"><%= t('shipping_cost') %></td>
          <td class="cell-currency"><%= number_to_currency invoice.order.shipping_cost,  unit: "€" %></td>
        </tr>
        <% if invoice.order.discount > 0 %>
          <tr>
            <td colspan="5" class="cell-label"><%= t('discount') %></td>
            <td class="cell-currency"><%= number_to_currency -invoice.order.discount,  unit: "€" %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="5" class="cell-label"><%= t('total') %></td>
          <td class="cell-currency"><%= number_to_currency invoice.order.total_with_vat,  unit: "€" %></td>
        </tr>
      </table>
    </div>
  </div>

</div>
