<%= simple_form_for @contact, :url => submit_contact_form_path do |f| %>
  <%= hidden_field_tag :path, request.path %>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :subject, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-6">
      <%= f.input :first_name, required: true %>
    </div>
    <div class="col-xs-6">
      <%= f.input :last_name, required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :email, required: true, hint: false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :location %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :message, as: :text, required: true, input_html: {rows: 10} %>
    </div>
  </div>
  <div class="form-actions text-right">
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  </div>
<% end %>