<%= simple_form_for @event do |f| %>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :title %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :date, input_html: {value: @event.date.to_formatted_s(:db), data: {behaviour: "datepicker", date_format: "YYYY-MM-DD HH:mm:ss"}}, as: :string %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :location %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-6">
      <%= f.input :hoster_name %>
    </div>
    <div class="col-xs-6">
      <%= f.input :hoster_email %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input :description %>
    </div>
  </div>
  <div class="form-actions text-right">
    <%= link_to t("back"), events_path, class: "btn btn-default" %>
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  </div>
<% end %>
