<% provide :title, t("your_events") %>

<h1 class="title"><%= t("your_events") %> <%= link_to t("new_event"), new_event_path, class: "btn btn-primary btn-sm pull-right" %></h1>
<div id="calendar"></div>
