<% provide :title, @event.title %>

<h1 class="title"><%= @event.title %></h1>

<dl id="event-details">
  <dt>Date</dt><dd><%= @event.date.to_s(:long) %></dd>
  <dt>End date</dt><dd><%= @event.end_date.to_s(:long) %></dd>
  <dt>Location</dt><dd><%= @event.location %></dd>
  <dt>Hoster</dt><dd><%= mail_to @event.hoster_email, @event.hoster_name %></dd>
  <dt>Description</dt><dd><%= simple_format @event.description %></dd>
</dl>
<div id="event-code">Event code: <%= @event.code %></div>

<%= link_to t("edit"), edit_event_path(@event), class: "btn btn-default" %>
<%= link_to t("delete"), @event, class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %>
