<% news_items.each do |news_item| %>
  <div class="row">
    <div class="news-item">
      <div class="col-xs-3">
        <%= image_tag news_item.image.file.url(:thumb_portrait) %>
      </div>
      <div class="col-xs-9">
        <h4><%= news_item.title %></h4>
        <%= news_item.teaser.html_safe %>
        <%= link_to t('read_more'), news_item, class: "readmore" %>
      </div>
    </div>
  </div>
<% end %>
