<% provide :title, t("news_archive") %>

<h1 class="title"><%= t("news_archive") %></h1>
<div id="news">
  <%= render partial: "news_items", object: @news_items %>
  <%= paginate @news_items %>
</div>
