<% provide :title, @item.title %>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <div class="block">
        <h3 class="title"><%= t("recent_articles") %></h3>
        <ul class="menu">
          <% @news_items.each do |news_item| %>
            <%= content_tag :li, link_to(news_item.title, news_item), class: ("active" if news_item == @item) %>
          <% end %>
        </ul>
        <div class="archive text-right">
          <p><small><%= link_to t('news_archive'), news_archive_path %></small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div id="header-image"><%= image_tag(@item.image.file.url) unless @item.image.file.blank? %></div>
    <h1 class="title"><%= @item.title %></h1>
    <%= @item.body.html_safe %>
  </div>
</div>
