<div id="order-details" class="row">
  <div class="col-sm-4">
    <h2 class="title"><%= t("your_information") %></h2>
    <div class="product-options">
      <dl>
        <dt><%= t("name") %></dt>
        <dd><%= order.first_name %> <%= order.name %></dd>

        <dt><%= t("email") %></dt>
        <dd><%= order.email %></dd>

        <% if order.vat_number? %>
          <dt><%= t("vat_number") %></dt>
          <dd><%= order.vat_number %></dd>
        <% end %>

        <dt><%= t("address") %></dt>
        <dd>
          <address>
            <%= order.address1 %><br />
            <% unless order.address2.empty? %> <%= order.address2 %><br /> <% end %>
            <%= order.postal_code %>, <%= order.city %><br />
            <%= order.country(:name) %>
          </address>
        </dd>

        <dt><%= t("delivery_address") %></dt>
        <dd>
          <address>
            <%= order.delivery_address1 %><br />
            <% unless order.delivery_address2.empty? %> <%= order.delivery_address2 %><br /> <% end %>
            <%= order.delivery_postal_code %>, <%= order.delivery_city %><br />
            <%= order.delivery_country(:name) %>
          </address>
        </dd>

        <dt><%= t("phone_number") %></dt>
        <dd><%= order.phone_number %></dd>
      </dl>
    </div>
  </div>
  <div class="col-sm-8">
    <h2 class="title"><%= t("order_summary") %></h2>
    <table id="cart-items" class="table">
      <thead>
        <tr>
          <th><%= t("item") %></th>
          <th><%= t("price") %></th>
          <th><%= t("quantity") %></th>
          <th><%= t("subtotal") %></th>
        </tr>
      </thead>
      <tbody>
        <% order.line_items.each do |item| %>
          <tr>
            <td>
              <%= item.product.title %><br />
              <small><%= item.variations.map { |v| "#{v.option}: #{v.variation}"}.join(", ") %></small>
            </td>
            <td><%= number_to_currency item.price, unit: "€" %></td>
            <td>
              <%= item.quantity %>
            </td>
            <td><%= number_to_currency item.price * item.quantity, unit: "€" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><%= t("subtotal") %></td>
          <td><%= number_to_currency order.subtotal, unit: "€" %></td>
        </tr>
        <% if order.vat_payable? %>
          <tr>
            <td colspan="3"><%= t("vat_incl", percentage: number_to_percentage(order.vat_percentage * 100, precision: 0)) %></td>
            <td><%= number_to_currency order.vat, unit: "€" %></td>
          </tr>
        <% else %>
          <tr>
            <td colspan="3"><%= t("vat_free", percentage: number_to_percentage(order.vat_percentage * 100, precision: 0)) %></td>
            <td><%= number_to_currency -order.vat, unit: "€" %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3"><%= t("shipping_cost") %></td>
          <td><%= number_to_currency order.shipping_cost, unit: "€" %></td>
        </tr>
        <% if order.discount > 0 %>
          <tr>
            <td colspan="3"><%= t("discount") %></td>
            <td><%= number_to_currency -order.discount, unit: "€" %></td>
          </tr>
        <% end %>
        <tr class="active">
          <td colspan="3"><%= t("total") %></td>
          <td><%= number_to_currency order.total_with_vat, unit: "€" %></td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
