<% provide :title, t("checkout") %>

<div class="row">
  <div class="col-sm-6">
    <h2 class="title"><%= t("enter_your_information") %></h2>
    <%= simple_form_for @order do |f| %>
      <div class="form-group row">
        <div class="col-xs-6">
          <%= f.input :first_name, label: t('first_name'), hint: false, placeholder: false %>
        </div>
        <div class="col-xs-6">
          <%= f.input :name, label: t('last_name'), hint: false, placeholder: false %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :email, hint: false, placeholder: false %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :vat_number, label: t('vat_number'), hint: false, placeholder: false %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :address1, label: t('address') %>
          <%= f.input :address2, label: false %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-9">
          <%= f.input :city, label: t('city') %>
        </div>
        <div class="col-xs-3">
          <%= f.input :postal_code, label: t('postal_code') %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :country, label: t('country'), collection: Country.to_select %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :phone_number, label: t('phone_number'), hint: false, placeholder: false %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :code, label: t('event_code') %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :coupon_code, label: t('hoster_coupon_code') %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <% content_for(:terms_of_service) do %>
            <%= t('accept_terms_of_service', link: link_to(t('terms_of_service'), '/algemene-voorwaarden', target: '_blank')).html_safe %>
          <% end %>
          <%= f.input :terms_of_service, as: :boolean, label: content_for(:terms_of_service), inline_label: true, hint: false, class: 'checkbox-inline' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-12">
          <%= f.input :other_delivery_address, label: t('other_delivery_address'), inline_label: true, hint: false %>
        </div>
      </div>
      <%= field_set_tag t('delivery_address'), id: 'delivery_address' do %>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :delivery_name, label: t('name') %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :delivery_address1, label: t('address') %>
            <%= f.input :delivery_address2, label: false %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :delivery_country, collection: Country.to_select, label: t('country') %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-9">
            <%= f.input :delivery_city, label: t('city') %>
          </div>
          <div class="col-xs-3">
            <%= f.input :delivery_postal_code, label: t('postal_code') %>
          </div>
        </div>
      <% end %>

      <div class="form-actions text-right">
        <%= f.submit t("next_step"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2 class="title"><%= t("order_summary") %></h2>
    <table id="cart-items" class="table">
      <thead>
        <tr>
          <th><%= t("item") %></th>
          <th><%= t("price") %></th>
          <th><%= t("quantity") %></th>
          <th><%= t("subtotal") %></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.shopping_cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= cart_item.item.product.title %><br />
              <small><%= cart_item.item.variations.map { |v| "#{v.option}: #{v.variation}"}.join(", ") %></small>
            </td>
            <td><%= number_to_currency cart_item.price, unit: "€" %></td>
            <td>
              <%= cart_item.quantity %>
            </td>
            <td><%= number_to_currency cart_item.subtotal, unit: "€" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="active">
          <td colspan="3"><%= t("subtotal") %></td>
          <td><%= number_to_currency @cart.total, unit: "€" %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
