<% provide :title, "Pay now" %>

<%= render @order %>

<%= form_tag(@cardgate_url) do %>
  <%= hidden_field_tag 'test', @test %>
  <%= hidden_field_tag 'siteid', @siteid %>
  <%= hidden_field_tag 'amount', @order.total_in_cents %>
  <%= hidden_field_tag 'ref', @order.reference %>
  <%= hidden_field_tag 'description', @description %>
  <%= hidden_field_tag 'return_url', order_success_url(@order) %>
  <%= hidden_field_tag 'return_url_failed', order_failed_url(@order) %>
  <%= hidden_field_tag 'hash', @hash %>
  <%= submit_tag t('pay_now'), class: 'btn btn-primary pull-right' %>
<% end %>