<div id="slideshow">
  <div class="cycle-slideshow" data-cycle-slides=".slide">
    <div class="cycle-pager"></div>
    <% slides.each do |slide| %>
      <div class="slide">
        <%= image_tag slide.image.file.url(:slide) %>
      </div>
    <% end %>
  </div>
</div>
