<% provide :title, t("home") %>
<!-- Google Code for LEADS Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 943806085;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "01bDCPGGn18Qha2FwgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/943806085/?label=01bDCPGGn18Qha2FwgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<div class="row">
  <div class="col-sm-12">
    <%= render partial: "slides", object: @slides %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="product-categories">
      <% @categories.each_slice(4) do |slice| %>
        <div class="row">
          <% slice.each do |category| %>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="product-category">
                <%= link_to image_tag(category.image.file.url(:thumb)), products_path(category) %>
                <h3><%= link_to category.title, products_path(category) %></h3>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div id="news">
      <h3 class="title"><%= t("news") %></h3>
      <%= render partial: "news/news_items", object: @news_items %>
    </div>
  </div>
  <div class="col-sm-4">
    <div id="frontpage-sidebar" class="sidebar">
      <div class="block">
        <h2 class="title"><%= t("quick links") %></h2>
        <ul class="quick-links">
          <%= quick_links %>
        </ul>
      </div>
      <div class="block">
        <h2 class="title"><%= t("follow us") %></h2>
        <%= render partial: "facebook" %>
      </div>
      <div class="block">
        <%= @block.body.html_safe %>
      </div>
    </div>
  </div>
</div>
