<% provide :title, @page.title %>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <div class="block">
        <ul class="menu">
          <%= sidebar_menu %>
        </ul>
      </div>
      <div id="ad" class="block">
        <%= image_tag(@page.sidebar_image.file.url) unless @page.sidebar_image.file.blank? %>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div id="header-image"><%= image_tag(@page.image.file.url) unless @page.image.file.blank? %></div>
    <h1 class="title"><%= @page.title %></h1>
    <%= @page.body.html_safe %>
    <ul class="attachments">
      <%= attachments(@page).html_safe %>
    </ul>
    <% if @page.contact_form? %>
      <div id="contact-form">
        <h3 class='title'><%= t('contact_us') %></h3>
        <%= render partial: "shared/contact", contact: @contact %>
      </div>
    <% end %>
  </div>
</div>
