<% provide :title, t('sign_in') %>

<!-- <div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3"> -->
    <h2 class="title"><%= t('sign_in') %></h2>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :email, :required => true, :autofocus => true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :password, :required => true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('sign_in'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
<!--   </div>
</div> -->
