<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Beste <%= @order.first_name %>,
    </p>
    <p>
      Agriteca dankt u voor uw bestelling. Van zodra de betaling aan ons bevestigd wordt zal u een verkoopfactuur per mail ontvangen en stellen wij alles in het werk om uw bestelling zo vlug mogelijk te verwerken.
    </p>
    <p>
      Met vriendelijke groeten,<br />
      Agriteca BV
    </p>
  </body>
</html>