<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Beste <%= @order.first_name %>,
    </p>
    <p>
      Agriteca dankt u voor uw bestelling. In bijlage kan u de verkoopfactuur terugvinden.
    </p>
    <p>
      Uw pakket zal in de komende dagen bij u geleverd worden.
    </p>
    <p>
      Met vriendelijke groeten,<br />
      Agriteca BV
    </p>
  </body>
</html>