<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Nieuwe bestelling</h2>
    <p>Bekijk de bestelling in de backend: <%= link_to admin_order_url(@order), admin_order_url(@order) %></p>
  </body>
</html>