<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Beste <%= @event.hoster_name %>,
    </p>
    <p>
      Hier is uw unieke Hoster Coupon Code: <strong><%= @event.coupon.code %></strong>
    </p>
    <p>Gebruik deze code en krijg een korting tot <%= number_to_currency @event.coupon.value,  unit: "€" %> op uw volgende bestelling.</p>
    <p>
      Met vriendelijke groeten,<br />
      Agriteca BV
    </p>
  </body>
</html>