// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.active_admin {

	small {
		font-size: 85%;
	}

	// index
	#active_admin_content {
		.index_as_sortable {
			ol {
				list-style-type: none;
				li {
					.item {
						h3.cell {
							font-size: 1em;
							line-height: 1.5em;
						}
					}
				}
			}
		}
	}

	.filter_form {
		.filter_boolean {
			label {
				display: inline-block;
				margin-right: 1em;
			}
		}
	}

	// create, edit
	form fieldset ol > li label {
		margin-bottom: 0.5em;
	}

	.attributes_table {
		ul {
			margin-bottom: 0;
		}
	}

}

.just_datetime_picker {
	input {
		width: auto !important;
	}
}
