// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
	.cart-body {
		padding: 5px 0;
	}	
}

#cart-items {
	tbody {
		td {
			vertical-align: middle;
			input {
				width: 3em;
			}
		}
	}
	.active {
		font-weight: bold;
	}
	tfoot {
		> tr > td {
			border-top: 1px solid $black;
		}
	}
}