// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar {
  margin: 1em 0;
}

.fc-event {
  border-color: $purple;
  background-color: $purple;
  padding: 2px;
  &:hover {
    background-color: lighten($purple, 10);
    color: $white;
  }
}

#event-details {
  margin-bottom: 1em;
}

#event-code {
  font-size: 2em;
  color: $purple;
  margin-bottom: 0.5em;
}
