// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pdf {
	font-size: 12px;
}

#pdf {
	.row {
		margin-bottom: 2em;
	}
	.brand {
		text-align: right;
		.logo {
			margin-bottom: 1em;
		}
	}
	.delivery-info {

	}
	.contact-info {
		text-align: right;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				list-style-image: none;
			}
		}
	}
	table {
		th {
			text-align: center;
		}
		td {
			vertical-align: middle;
		}
		td.cell-label {
			font-weight: bold;
			text-align: right;
		}
		td.cell-currency, td.cell-number, td.cell-weight {
			text-align: right;
		}
	}
}

#pdf-footer {
	padding-top: 2em;
	.row {
		margin-bottom: 0;
	}
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}
}