$logo-height: 72px;

$purple: #46265b;
$yellow: #b7a15f;
$light-grey: #f8f8f8;
$grey: #dadada;
$purple-gradient-start: #46265b;
$purple-gradient-end: #361743;

$white: #fff;
$black: #000;

$text-color: #838383;
$text-color-dark: #545454;

$highlight-color: #ddd;
$sidebar-color: #eee;

$header-height: 60px;

$header-bg-color: #ddd;
$menu-text-color: #eee;
$menu-text-color-active: #fff;

$footer-height: 80px;

$footer-bg-color: #333;
$footer-text-color: #fff;

$link-color: $yellow;
$link-color-hover: darken($link-color, 10);

@mixin purple-gradient() {
	background-color: $purple;
	@include background(linear-gradient(top, $purple-gradient-start, $purple-gradient-end));
}

@mixin shadow() {
	@include box-shadow($text-color 0 5px 10px);
}

@mixin thumbnail($radius:5px) {
	font-size: 0.8em;
	text-align: center;
	background-color: $light-grey;
	padding: 15px;
	@include border-radius($radius);
	@include shadow();
	margin-bottom: 3em;
	a {
		color: $purple;
	}
	&:hover {
		background-color: $purple;
		a {
			color: $white;
		}
	}
	h1, h2, h3, h4 {
		// max-height: 1em;
		text-align: center;
		overflow: hidden;
	}
}

.btn-primary {
  background-color: $purple;
  border-color: $purple;
	text-transform: none;
	&:hover, &:focus, &:active, &.active {
		background-color: #381e49;
		border-color: #2a1737;
	}
}
.btn-custom.disabled, .btn-custom[disabled], fieldset[disabled] .btn-custom {
	&:hover, &:focus, &:active, &.active {
	  background-color: #46265b;
	  border-color: #46265b;
	}
}


body {
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}

li.active > a {
	color: $link-color-hover;
}

h1, h2, h3, h4 {
	text-align: left;
	color: $purple;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.75em;
	letter-spacing: 2px;
	&.title {
		padding-bottom: 1em;
		background: image-url('hr.png') repeat-x bottom center;
		margin-bottom: 1em;
		margin-top: 0;
		* {
			letter-spacing: 0;
		}
	}
}

form {
	abbr[title], abbr[data-original-title] {
		color: $purple;
		border-bottom: 0;
	}
}

#header {
	@include clearfix();
	// margin-top: 2em;
	#logo {
		float: left;
		margin: 10px;
	}
	#top-nav {
		float: right;
		margin-top: $logo-height - 10px;
		ul.menu {
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			list-style-type: none;
			> li {
				display: inline-block;
				&.payment-logos {
					margin-left: 10px;
					img {
						height: 20px;
					}
				}
				a {
					padding: 10px;
					color: $purple;
				}
				border-right: 1px solid $purple;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	#navigation {
		clear: both;
		text-transform: uppercase;
		margin-bottom: 0;
		@include purple-gradient();
		@include border-radius(0);
		@include shadow();
		ul.menu {
			margin: 0;
			padding: 0;
			list-style-type: none;
			> li {
				line-height: $header-height;
				> a:hover {
					color: $menu-text-color-active;
					background-color: rgba(255, 255, 255, 0.2);
				}
				&.dropdown {
					&:hover > ul.dropdown-menu {
						text-transform: none;
						display: block;
						li  {
							> a {
								color: $purple;
								&:hover {
									color: $white;
									background-color: $purple;
								}
							}
							&.active > a {
								color: $black;
								background-color: transparent;
								&:hover {
									color: $white;
									background-color: $purple;
								}
							}
						}
					}
				}
				&.active {
					> a {
						color: $menu-text-color-active;
					}
				}
				> a {
					line-height: $header-height;
					padding-top: 0;
					padding-bottom: 0;
					color: $menu-text-color;
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
	#user-nav {
		float: right;
		margin: 0.5em 5px 0;
		a {
			text-transform: lowercase;
			margin: 0 5px;
		}
	}
}

.not-front #header {
	margin-bottom: 3em;
}

#main {
	padding-bottom: 2em;
	img {
		max-width: 100%;
	}
	address {
		margin-bottom: 0;
	}

	.sidebar {
		// background-color: $sidebar-color;
		// padding: 20px;
		.block {
			// overflow: hidden;
			margin-bottom: 2em;
			.title {
				margin-bottom: 0;
				border-color: $highlight-color;
			}
		}
		ul.menu {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				a {
					display: block;
					line-height: 2em;
					padding: 5px;
					border-bottom: 1px solid $highlight-color;
					&:hover {
						background-color: $white;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						a {
							padding-left: 20px;
						}
					}
				}
			}
		}
	}
}

#footer-top {
	background-color: $grey;
	#about-wrapper {
		@include clearfix();
		padding: 1.5em 0;
		h4 {
			padding-bottom: 0.5em;
			border-bottom: 1px solid $text-color;
		}
		#contact {
			.contact-line {
				line-height: 16px;
				padding-left: 30px;
				margin: 1.5em 0;
				background: image-url('icon-link.png') no-repeat left center;
				&.phone {
					background-image: image-url('icon-phone.png');
				}
				&.mail {
					background-image: image-url('icon-mail.png');
				}
				&.skype {
					background-image: image-url('icon-skype.png');
				}
				&.facebook {
					background-image: image-url('icon-fb.png');
				}
				&.googleplus {
					background-image: image-url('icon-googleplus.png');
				}
				&.pinterest {
					background-image: image-url('icon-pinterest.png');
				}
			}
		}
	}
}
#footer {
	@include clearfix();
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	@include purple-gradient();
	color: $white;
	line-height: $footer-height;
	// font-size: 0.9em;
	.container {
		background: image-url('payment.png') no-repeat center center;
	}
	#copyright {
		float: left;
	}
	#footer-menu {
		float: right;
		ul.menu {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				display: inline;
			}
		}
	}
}

.help-block {
	text-align: left;
}

// facebook

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb-like-box {
	margin: 0 -10px;
	&.fb_iframe_widget, span, span iframe[style] {
			width: 100% !important;
	}

}
