// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order-details {
	dd {
		// border-bottom: 1px solid $highlight-color;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
}

#new_order {

	#delivery-address {
		display: none;
	}

}

.order_other_delivery_address, .order_terms_of_service {
	> label {
		display: none;
	}
	&.has-error {
		color: #a94442;
	}
}
