// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slideshow {
	position: relative;
	// margin-bottom: 2em;
	@include shadow();
	.slide {
		position: relative;
		width: 100%;
	}
	.cycle-pager {
		position: absolute;
		z-index: 500;
		bottom: 20px;
		right: 25px;
		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-left: 5px;
			text-indent: -9999px;
			cursor: pointer;
			background: image-url('white-dot.png') no-repeat center center;
			&.cycle-pager-active {
				background-image: image-url('purple-dot.png');
			}
		}
	}
}

#product-categories {
	margin: 3em 0;
	.row {
		// margin-bottom: 1em;
		.product-category {
			@include thumbnail();
		}
	}
}

#news {
	.news-item {
		@include clearfix();
		margin-bottom: 2em;
		h4 {
			margin-top: 0;
			text-transform: none;
			font-size: 1em;
			letter-spacing: 0;
		}
	}
}

#header-image {
	margin-bottom: 2em;
}

#contact-form {
	margin: 2em 0;
}

ul.attachments {
	margin: 1em 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}

ul.quick-links {
	margin: 0;
	padding: 1.5em 0;
	li {
		list-style-type: none;
		line-height: 1.75em;
		&:before {
			content: '› ';
			margin-right: 2px;
		}
		a {
			text-transform: uppercase;
		}
	}
}
