// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#products, #related {
	margin-bottom: 3em;
	.row {
		// margin-bottom: 2em;
		.product {
			@include thumbnail();
		}
	}
}

#related {
	margin-top: 3em;
}


#product {
	.product-images {
		.thumbnails {
			margin-top: 5px;
		}
	}
	.product-title {
		border-bottom: 2px solid $purple;
		margin-bottom: 2em;
	}
	.product-description {
		margin: 1em 0;
		h4 {
			font-size: 1.2em;
			color: $text-color-dark;
		}
	}
	.product-warning {
		margin: 1em 0;
		padding: 1em;
	}
	.product-details {
		dt, dd {
			display: inline-block;
			width: 50%;
			margin: 2px 0;
			// border-top: 1px solid $highlight-color;
		}
	}
	.product-options {
		label {
			margin-right: 10px;
		}
	}
	.product-price {
		font-size: 2em;
		margin: 0.5em 0;
		line-height: 2em;
		color: $purple;
		&:before, &:after {
			content: ' ';
			height: 2px;
			display: block;
			background: image-url('hr.png') repeat-x bottom center;
		}
	}
	.add-to-cart {
		@include clearfix();
		input {
			margin-right: 10px;
			float: left;
			@include border-radius(0);
			&.btn {
				text-transform: uppercase;
				@include purple-gradient();
			}
			&.form-control {
				width: 4em;
			}
		}
	}
}
