<% unless related.empty? %>
      <div id="related">
        <h2 class="title"><%= t("related_products") %></h2>
        <% related.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |product| %>
            <div class="col-xs-6 col-sm-4">
              <%= render product %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
