<% provide :title, @category ? @category.title : t("all_products") %>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <div class="block">
        <h3 class="title"><%= t("categories") %></h3>
        <ul class="menu">
          <%= product_menu(@category) %>
        </ul>
      </div>
      <div class="block">
        <h3 class="title"><%= t("shopping_cart") %></h3>
        <div class="cart-body">
          <%= shopping_cart %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div id="products">
      <h1 class="title"><%= @category ? @category.title : t("all_products") %></h1>
      <% @products.each_slice(3) do |slice| %>
        <div class="row">
          <% slice.each do |product| %>
            <div class="col-xs-6 col-sm-4">
              <%= render product %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render partial: "related", object: @related_products %>
  </div>
</div>
