<% provide :title, @product.title %>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <div class="block">
        <h3 class="title"><%= t("categories") %></h3>
        <ul class="menu">
          <%= product_menu(@category) %>
        </ul>
      </div>
      <div class="block">
        <h3 class="title"><%= t("shopping_cart") %></h3>
        <div class="cart-body">
          <%= shopping_cart %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <h1 class="title"><%= @product.category.title %></h1>
    <div id="product">
      <div class="row">
        <div class="col-sm-6">
          <div class="product-images">
            <div class="main-image">
              <%= link_to image_tag(product_image(@product, :thumb)), image_path(product_image(@product)) %>
            </div>
            <div class="thumbnails">
              <% @product.images.offset(1).each do |i| %>
                <%= link_to image_tag(i.file.url(:tiny_thumb)), i.file.url %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="product-form">
            <%= form_tag add_to_cart_path, class: "form-inline" do %>
              <%= hidden_field_tag :product_id, @product.id %>
              <div class="product-title">
                <h4><%= @product.title %></h4>
              </div>
              <% unless @product.description.blank? %>
                <div class="product-description">
                  <h4><%= t("product_description") %></h3>
                  <%= @product.description.html_safe %>
                </div>
              <% end %>
              <% if @product.adult_only %>
                <div class="product-warning bg-danger"><%= t('adult_only_warning') %></div>
              <% end %>
              <div class="product-details">
                <dl>
                  <dt><%= t("category") %></dt><dd><%= link_to @product.category.title, products_path(@product.category) %></dd>
                  <dt><%= t("weight") %></dt><dd><%= @product.weight.to_s + 'gr' %></dd>
                  <dt><%= t("shipping_type") %></dt><dd><%= @product.shipping_type(:name) %></dd>
                </dl>
              </div>
              <div class="product-options">
                <% @product.options.each do |opt| %>
                  <div class="product-option">
                    <%= label_tag("options[#{opt.id}]", opt.title) %>
                    <%= select_tag("options[#{opt.id}]", options_for_select(opt.variations.map { |v| [v.title, v.id] }), prompt: t("select"), required: true, class: "form-control") %>
                  </div>
                <% end %>
              </div>
              <div class="product-price">
                <%= number_to_currency @product.price, unit: "€" %>
              </div>
              <div class="add-to-cart">
                <%= submit_tag t("add_to_cart"), class: "btn btn-primary btn-lg" %> <%= number_field_tag :quantity, 1, min: 1, required: true, class: "form-control input-lg" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "related", object: @related_products %>
  </div>
</div>
