<!DOCTYPE html>
<html>
<head>
  <title>Agriteca | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", 'http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>" <%= 'data-no-turbolink' unless turbolinks? %> >

<!--   <%= request.path %> -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="user-nav">
            <% if user_signed_in? %>
              <%= t('signed_in_as') %> <%= current_user.email %>.
              <%= link_to t('your_events'), events_path %> |
              <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="logo">
            <%= link_to image_tag("logo.png"), root_url %>
          </div>
          <nav id="top-nav">
            <ul class="menu">
              <%= top_menu %>
              <li class="payment-logos"><%= image_tag("payment.png") %></li>
            </ul>
          </nav>
        </div>
      </div>
      <nav id="navigation" class="navbar" role="navigation">
        <ul class="menu nav navbar-nav">
          <%= main_menu %>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main">
    <div class="container">
      <%= render partial: "shared/flash", flash: flash %>
      <%= yield %>
    </div>
  </div>
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div id="about-wrapper">
          <div class="col-sm-9">
            <div id="about">
              <h3 class="title">Over Agriteca</h3>
              <p>Agriteca is gespecialiseerd in het aanbieden van elektronische sigaretten van de hoogste kwaliteit aan de meest competitieve prijs. Indien u opzoek bent naar een gezonder alternatief voor de traditionele tabak sigaret en u wil bovendien nog eens een hoop geld uitsparen, dan is Agriteca Start to Vape &copy; voor jou de oplossing!</p>
              <p>De Agriteca e-sigaretten zijn zorgvuldig gekozen en zijn mooi gebundeld in de AGRI-serie. Hierdoor kunnen we een compact, doeltreffend assortiment aan bieden dat uitstekend aansluit bij de wensen van de hedendaagse roker.</p>
              <p>De AGRI e-sigaret is perfect als u uw rookgewoontes wil afbouwen zonder in te boeten op de sociale voordelen die u reeds ervoer.</p>
              <p>Via boeiende en aangename Vape Parties wordt de werking en het gebruik van de e-sigaret in uw vertrouwde omgeving door onze Vape Agent voorgesteld. Dit te samen met een fantastische reeks E-liquids waaruit u kan kiezen en proeven, zijn we zeker dat Agriteca voor jou hét concept is om de traditionele sigaret vaarwel te zeggen.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="contact">
              <h3 class="title"><%= t("contact_us") %></h3>
              <div class="contact-line phone">0032-468/15 08 44</div>
              <div class="contact-line mail"><a href="mailto:info@agriteca.com" target="_blank">info@agriteca.com</a></div>
              <div class="contact-line website"><a href="http://www.agriteca.com">www.agriteca.com</a></div>
              <div class="contact-line website"><a href="http://www.agriteca.com">www.agriteca.com</a></div>
              <div class="contact-line facebook"><a href="https://www.facebook.com/pages/Agriteca-Start-To-Vape/649363961785131" target="_blank">facebook</a></div>
              <div class="contact-line googleplus"><a href="https://plus.google.com/115285885000130514784" target="_blank" rel="publisher">google plus</a></div>
              <div class="contact-line pinterest"><a href="https://www.pinterest.com/agriteca/" target="_blank">pinterest</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
      <div id="copyright">
        &copy;2014 Agriteca BV - All rights reserved.
      </div>
      <div id="footer-menu">
        <ul class="menu">
          <li>Site by <a href="http://enden.be" target="_blank">Studio Enden</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <%= render "shared/footer"%>
</body>
</html>
