<!DOCTYPE html>
<html>
<head>
  <title>Agriteca</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body class="pdf">
  <div id="main">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>